/* width */
.example::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  .example::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .example::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
  .example::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* .example::-webkit-scrollbar {
    display: none;
  } */


